@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html, body {
  margin:0px;
  height:100%;
}

#root {
  height: 100%;
}

.card { transition: transform 0.5s; }
.card:hover { transform: scale(0.95); }

.card {
  height: 400px;
}

img.poster {
  max-height: 80%;
  max-width: 100%;
}

.card .card-body {
  height: 80px;
  overflow: hidden;
}

.card-body:hover {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #000;
  opacity: 0.75;
}

.rating-title {
  height: 80px;
}
